.menu {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
}

.menu > li {
  border-radius: var(--border-radius);
  background: #202020;
  font-size: 1.5rem;
}

.menu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 8px;
}

.menu svg {
  width: 32px;
  height: 32px;
}
