.activityList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.activity {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  padding: 8px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.activityDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.metadata {
  font-size: 1rem;
}

.timestamp {
  font-size: 0.8rem;
}
