# Domain name the app is running on
NEXT_PUBLIC_ORIGIN_URL=

NEXT_PUBLIC_LOGALISER_API_URL=
NEXT_PUBLIC_ROLLER_COASTER_TRACKER_API_URL=
NEXT_PUBLIC_ROLLER_COASTER_TRACKER_API_KEY=

# Traewelling client credentials
NEXT_PUBLIC_TRAEWELLING_CLIENT_ID=
NEXT_PUBLIC_TRAEWELLING_CLIENT_SECRET=
