.activityCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #202020;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

.wrapper svg {
  flex-shrink: 0;
}

.title {
  font-weight: bold;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.timestamp {
  font-size: 0.8rem;
}
