.tabBar {
  width: 100%;
  height: calc(64px + env(safe-area-inset-bottom));
  background-color: #171717;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
}

.tab {
  height: 100%;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding-bottom: env(safe-area-inset-bottom);

  &:hover {
    background-color: #262626;
  }

  &:active {
    background-color: #121212;
  }
}

.leftTab {
  padding-right: 32px;
}

.rightTab {
  padding-left: 32px;
}

.logaliseButton {
  background-color: var(--primary);
  width: 88px;
  height: 88px;
  border-radius: 88px;
  position: absolute;
  padding: 0;
  bottom: calc(4px + env(safe-area-inset-bottom));
  left: calc(50% - 44px);
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);

  &:hover {
    background-color: var(--primary-hover);
  }

  &:active {
    background-color: var(--primary-active);
  }
}
