.statBoxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  gap: 16px;
  margin: 32px 0;
}

.tables {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 32px;
  margin: 48px 0;
}

.inverted {
  display: inline-block;
  transform: scale(-1);
}

.noStats {
  text-align: center;
  font-weight: bold;
  margin-top: 48px;
}
