.stationList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  font-size: 1.2rem;
  font-weight: bold;
}
