.statBox {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.label {
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}

.valueWrapper {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 4px;
}

.value {
  font-size: 2.5rem;
  line-height: 1;
}

.unit {
  font-size: 1.5rem;
}

.extraInfo {
  font-size: 0.8rem;
  text-align: center;
}
